.html-highlight {
  // font-size: 1rem;
  // word-break: break-all;
  :deep(li) {
    list-style: decimal;
    margin: 10px 0;
  }

  :deep(p) {
    word-break: break-all;
  }

  :deep(pre) {
    // padding: 0;
    border: 1px solid #e4e7ed;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow-x: auto;
    code {
      word-break: break-all;
    }
  }

 
}
