.html-highlight {
  font-size: 1rem;

  :deep(li) {
    list-style: decimal;
  }

  :deep(pre) {
    padding: 0;
    border: 1px solid #e4e7ed;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
}
